body{
    display:grid;
    

}
.button{
    height: 50px;
    width: 75px;
    font-size: 20px;
    
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 100px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 5px 5px 2.5px 5px;
}
.cardLocation{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    height: 200px;
    width: auto;
    border: 1px solid;
}
section {
    border: 1px solid red;
}
